config.cache
config.status
stamp-h*
libtool
config.log
Makefile
Makefile.in
configure
config.h
config.h.in
aclocal.m4
newvers.sh
Makefile.am
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
autom4te.cache
configure.in
*.pot
Makefile.am.common
*.ami
*.m4
